services:
  kafka-kraft:
    image: confluentinc/cp-kafka:7.9.0
    container_name: kk-kafka-kraft
    environment:
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_LISTENERS: PLAINTEXT://kafka-kraft:29092,CONTROLLER://kafka-kraft:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-kraft:29093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-kraft:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost
    ports:
      - 9092:9092
    restart: unless-stopped
    networks:
      - microservices-network

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kk-kafka-ui
    environment:
      DYNAMIC_CONFIG_ENABLED: 'true'
      KAFKA_CLUSTERS_0_NAME: sohoa
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka-kraft:29092
    ports:
      - 9089:8080
    links:
      - kafka-kraft
    restart: unless-stopped
    networks:
      - microservices-network

    # ============================
    # ZIPKIN – Distributed Tracing
    # ============================
  zipkin:
    image: openzipkin/zipkin:latest
    container_name: kk-zipkin
    ports:
      - "9411:9411"
    environment:
      - STORAGE_TYPE=mem
    restart: unless-stopped
    networks:
      - microservices-network

    # ============================
    # PROMETHEUS – Metrics Collector
    # ============================
  prometheus:
    image: prom/prometheus:latest
    container_name: kk-prometheus
    volumes:
      - ./docker-compose/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      #- ./ssl/server.crt:/etc/ssl/certs/my-ca.crt
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    restart: unless-stopped
    networks:
      - microservices-network

    # ============================
    # GRAFANA – Metrics Visualization
    # ============================
  grafana:
    image: grafana/grafana:latest
    container_name: kk-grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    restart: unless-stopped
    networks:
      - microservices-network

  consul-server:
    image: hashicorp/consul:1.16
    container_name: kk-consul-server
    restart: unless-stopped
    command: "agent -server -bootstrap-expect=1 -node=consul-server -client=0.0.0.0 -ui -data-dir='/consul/data' -config-file=/consul/config/server-acl.json"
    ports:
      - "8500:8500"
      - "8600:8600/tcp"
      - "8600:8600/udp"
    volumes:
      - ./docker-compose/consul/config:/consul/config # Phải mount folder này
    environment:
      - 'CONSUL_ACL_TOKEN=f18cfb7d-5a36-2a24-7c15-d3316e450d07'
    networks:
      - microservices-network

  postgres:
    image: 'postgres:latest'
    container_name: postgres_security
    environment:
      - 'POSTGRES_DB=jwtsercurity'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=postgres'
      - 'PGDATA=initdb'
    ports:
      - '5432:5432'
    volumes:
      - /postgres_data:/var/lib/postgresql/data/pgdata
    shm_size: 128mb
    networks:
      - microservices-network
  redis:
    image: redis/redis-stack-server:7.2.0-v11
    container_name: redis_security
    ports:
      - '6379:6379'
    volumes:
      - /redis_data:/data
    networks:
      - microservices-network
#  api-gateway:
#    build: ./gateway-service
#    ports:
#      - "8080:8080"
#    volumes:
#      - ./ssl:/app/ca:ro
#    env_file: .env
#    networks:
#      - microservices-network
#  sso-service:
#    build: ./sso-service
#    ports:
#      - "8085:8085"
#    env_file: .env
#    environment:
#      - 'CONSUL_HOST=kk-consul-client'
#    volumes:
#      - ./ssl:/app/ca:ro
#    networks:
#      - microservices-network
networks:
  microservices-network:
    driver: bridge

volumes:
  redis_data:
  postgres_data: