spring:
  application:
    name: ${SERVICE-NAME:category-service}
  config:
    import: optional:consul:${CONSUL_HOST:localhost}:${CONSUL_PORT:8500}
  cloud:
    consul:
      host: ${CONSUL_HOST:localhost}
      port: ${CONSUL_PORT:8500}
      discovery:
        register: true
        prefer-ip-address: true
        health-check-path: ${management.server.servlet.context-path}/actuator/health
        health-check-interval: 10s
        health-check-url: https://0.0.0.0:${server.port}/actuator/health
        service-name: ${spring.application.name}
        # Connection Pooling
        catalog-services-watch-delay: 1000
        catalog-services-watch-timeout: 2
        acl-token: ${CONSUL_TOKEN:f18cfb7d-5a36-2a24-7c15-d3316e450d07}
        health-check-headers:
          X-Config-Token: ${spring.cloud.consul.discovery.acl-token}
        query-passing: true
        heartbeat: # check heart báº±ng ttl
          enabled: true
        instance-id: ${spring.application.name}:${vcap.application.instance_id:${spring.application.instance_id:${random.value}}}
      config:
        enabled: true
        name: ${spring.application.name}
        format: yaml
        data-key: ${CONSUL_DATA_KEY:data}
        acl-token: ${spring.cloud.consul.discovery.acl-token}

management:
  endpoints:
    web:
      exposure:
        include: info,health,prometheus,metrics,refresh,bus-refresh, openapi, swagger-ui, gateway
  endpoint:
    health:
      show-details: always
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_SERVER:http://localhost:9411/api/v2/spans}
  tracing:
    sampling:
      probability: 1.0
resilience4j:
  circuitbreaker:
    instances:
      global:
        sliding-window-size: 50
        failure-rate-threshold: 40
        wait-duration-in-open-state: 10s
  retry:
    instances:
      global:
        max-attempts: 3
        wait-duration: 1s
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
logging:
  config: classpath:logback.xml

server:
  port: ${SERVICE-PORT:8083}
