spring:
  application:
    name: order-service
  threads:
    virtual:
      enabled: true
#  kafka: # cấu hình ở yml hoặc configuration
#    producer:
#      bootstrap-servers: ${KAFKA-SERVERS:localhost:9092}
#      key-serializer: org.apache.kafka.common.serialization.StringSerializer
#      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
#      acks: all
#      retries: 5
#      delivery-timeout-ms: 120000
#      enable-idempotence: true
#      linger-ms: 10
#      batch-size: 32768
#      buffer-memory: 67108864
  config:
    import: optional:consul:${CONSUL_HOST:localhost}:${CONSUL_PORT:8500}
  cloud:
    consul:
      host: ${CONSUL_HOST:localhost}
      port: ${CONSUL_PORT:8500}
      discovery:
        register: true
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 10s
        service-name: ${spring.application.name}
        # Connection Pooling
        catalog-services-watch-delay: 1000
        catalog-services-watch-timeout: 2
        acl-token: ${CONSUL_TOKEN:f18cfb7d-5a36-2a24-7c15-d3316e450d07}
        health-check-headers:
          X-Config-Token: ${spring.cloud.consul.discovery.acl-token}
        heartbeat: # check ttl
          enabled: true
      config:
        enabled: true
        name: ${spring.application.name}
        format: yaml
        data-key: ${CONSUL_DATA_KEY:data}
        acl-token: ${spring.cloud.consul.discovery.acl-token}

management:
  endpoints:
    web:
      exposure:
        include: info,health,prometheus,metrics,refresh,bus-refresh, openapi, swagger-ui
  endpoint:
    health:
      show-details: always
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_SERVER:http://localhost:9411/api/v2/spans}
      export:
        enabled: true
  tracing:
    sampling:
      probability: 1.0
resilience4j:
  circuitbreaker:
    instances:
      global:
        sliding-window-size: 50
        failure-rate-threshold: 40
        wait-duration-in-open-state: 10s
  retry:
    instances:
      global:
        max-attempts: 3
        wait-duration: 1s
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
server:
  port: 8081
#  ssl:
#    enabled: true
#    key-store: classpath:ssl/mykeystore.p12
#    key-store-type: PKCS12
#    key-store-password: changeit
logging:
  config: classpath:logback.xml

config:
  kafka:
    server: ${KAFKA-SERVER:localhost:9092}